[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
aiofiles = "*"
pytest = "*"
requests = "*"
entsoe-py = "*"
apscheduler = "*"
pydantic = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.7"
